:root {
  --bgcolor: #ffffff;
  --textcolor: #0000;
  --basefont: "Mukta", sans-serif;
}

html, body {
  font-family: var(--basefont);
  background-color: var(--bgcolor);
  color: var(--textcolor);
  height: 100%;
  margin: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;

}
.links{
  display: flex;
  gap: 16px;
}
.link {
  font-size: 15px;
  transition: 0.2s;
  text-decoration: none;
  color: #005d7e;
  font-weight: bold;
}
.link:hover {
  color: black;
}
.link:active {
  color: rgb(19, 34, 41);
}